bindsym Mod4+f fullscreen toggle

# Change focused window on the focused workspace
bindsym Mod4+k focus up
bindsym Mod4+j focus down
bindsym Mod4+h focus left
bindsym Mod4+o focus right
bindsym Mod4+l focus right

# Move focused window on the focused workspace
bindsym Mod4+Shift+k move up
bindsym Mod4+Shift+j move down
bindsym Mod4+Shift+h move left
bindsym Mod4+Shift+o move right
bindsym Mod4+Shift+l move right

# Change focused workspace
bindsym Mod4+1 workspace 1
bindsym Mod4+2 workspace 2
bindsym Mod4+3 workspace 3
bindsym Mod4+4 workspace 4
bindsym Mod4+5 workspace 5

# Move focused window to workspace
bindsym Mod4+Shift+1 move container to workspace 1
bindsym Mod4+Shift+2 move container to workspace 2
bindsym Mod4+Shift+3 move container to workspace 3
bindsym Mod4+Shift+4 move container to workspace 4
bindsym Mod4+Shift+5 move container to workspace 5